.register{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px auto;
}

.form{
  width: 400px;
  &-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    input{
      padding: 5px;
    }
  }
  button{
    margin-top: 10px;
    width: 100%;
    padding: 5px;
  }
}
